<!---
-*- coding: utf-8 -*-
vim: set ft=htmljinja sw=2 ts=2 et:
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SIGGRAPH Image Wall</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" />
    <!--<link rel="stylesheet" href="" />-->
    <link rel="stylesheet" href="static/style.css" />

    <!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SIGGRAPH Image Wall {{ version }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container main-container">
      {% for chunk in works %}
      {% for work in chunk %}
      <div class="large-{{ row_size }} thumbnail">
        <a class="fancybox invokeModal" href="#myModal" data-teaser="{{ work['teaser'] }}" data-title="{{ work['title'] }}" data-authors="{{ work['authors'] }}">
          <img class="thumb"src="{{ work['thumb'] }}" alt="{{ work['title'] }}">
        </a>
        {% if work.has_key('website') %}
        <p><a href="{{ work['website'] }}">{{ work['title'] }}</a></p>
        {% else %}
        <p>{{ work['title'] }}</p>
        {% endif %}
      </div>
      {% endfor %}
      {% endfor %}
    </div>

    <div id="myModal" style="display:none;width:500px;">
      <img id="myImage" class="img-responsive">
      <h3 id="myTitle">Awesome title</h3>
      <p id="myAuthors">Great talents</p>
      <a href="javascript:$.fancybox.close();">Close</a>
    </div>

    <footer style="background-color: #333; color: #999;">
    <div class="row">
      <div class="col-md-4 col-md-push-8" id="about">
        <p class="text-right"><a href="#">Back to top</a></p>
        <ul class="inline-list">
          <li><a href="http://github.com/drakeguan/siggraphwall" class="social foundicon-github"> Github</a></li>
          <li><a href="http://www.twitter.com/drakeguan" class="social foundicon-twitter"> Twitter</a></li>
          <li><a href="http://www.linkedin.com/in/drakeguan" class="social foundicon-linkedin"> LinkedIn</a></li>
        </ul>
      </div>
      <div class="col-md-8 col-md-pull-4">
        <h3>About</h3>
        <p>SIGGRAPH is really great, and those published technical papers keep pushing it to the un-explored limit.
        This project is try to make a image wall for SIGGRAPH (2013) technical papers!</p>
      </div>
    </div>

    <div class="row">
      <div>
        <p class="text-center">
        <small>
          <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Siggraph Image Wall</span> by 
          <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName"><a href="http://drakeguan.org">Shuen-Huei Guan</a></span> 
          is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.<br>
          All teaser images and publication are copyright of the authors and <a href="http://www.siggraph.org/">ACM SIGGRAPH</a>.
        </small>
        <br>
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
        </p>
      </div>
    </div>
    </footer>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.3/jquery.mousewheel.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/1.5.25/jquery.isotope.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(window).load(function(){
          var $container = $('.main-container');
          $container.isotope({
              filter: '*',
              animationOptions: {
                  duration: 750,
                  easing: 'linear',
                  queue: false
              }
          });
      });

        $(document).ready(function() {
          $("a.invokeModal").click(function(e) {
            e.preventDefault();
            var img = $(this).attr("data-teaser");
            var title = $(this).attr("data-title");
            var authors = $(this).attr("data-authors");
            $("#myImage").attr("src", img);
            $("#myTitle").text(title);
            $("#myAuthors").text(authors);
            $("#myModal").foundation("reveal", "open");
          });
        });

      $(document).ready(function() {
          $(".fancybox").fancybox();
      });
    </script>
  </body>
</html>
