<!---
-*- coding: utf-8 -*-
vim: set ft=htmljinja sw=2 ts=2 et:
-->
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <title>SIGGRAPH Image Wall</title>

      <link rel="stylesheet" href="static/foundation/css/normalize.css" />
      <link rel="stylesheet" href="static/foundation/css/foundation.min.css" />
      <link rel="stylesheet" href="static/foundation_icons_all/foundation_icons_social/stylesheets/social_foundicons.css">
      <!--[if lt IE 8]>
      <link rel="stylesheet" href="stylesheets/social_foundicons_ie7.css">
      <![endif]-->
      <link rel="stylesheet" href="static/style.css" />

      <script src="static/foundation/js/vendor/custom.modernizr.js"></script>
      <script src="http://code.jquery.com/jquery.js"></script>
    </head>
    <body>
      <nav class="top-bar hide-for-small">
      <ul class="title-area">
        <li class="name">
        <h1><a href="#">SIGGRAPH Image Wall {{ version }}</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li><a href="#about">About</a></li>
        <li class="divider"></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      </section>
      </nav>

      <section class="main">
      {% for chunk in works %}
      <div class="row">
        {% for work in chunk %}
        <div class="large-{{ row_size }} columns">
          <a href="{{ work['teaser'] }}" class="th radius invokeModal" data-title="{{ work['title'] }}" data-authors="{{ work['authors'] }}">
            <img class="lazy" data-original="{{ work['teaser'] }}" alt="{{ work['title'] }}">
          </a>
          {% if work.has_key('website') %}
          <p><a href="{{ work['website'] }}">{{ work['title'] }}</a></p>
          {% else %}
          <p>{{ work['title'] }}</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
      </section>

      <div id="myModal" class="reveal-modal">
        <img id="myImage" src="Gorgeous image">
        <h3 id="myTitle">Awesome title</h3>
        <p id="myAuthors">Great talents</p>
        <a class="close-reveal-modal">&#215;</a>
      </div>

      <footer style="background-color: #333; color: #999;">
      <div class="row">
        <div class="large-4 push-8 columns" id="about">
          <p class="text-right"><a href="#">Back to top</a></p>
          <ul class="inline-list">
            <li><a href="http://github.com/drakeguan/siggraphwall" class="social foundicon-github"> Github</a></li>
            <li><a href="http://www.twitter.com/drakeguan" class="social foundicon-twitter"> Twitter</a></li>
            <li><a href="http://www.linkedin.com/in/drakeguan" class="social foundicon-linkedin"> LinkedIn</a></li>
          </ul>
        </div>
        <div class="large-8 pull-4 columns">
          <h3>About</h3>
          <p>
          SIGGRAPH is really great, and those published technical papers keep pushing it to the un-explored limit.
          This project is try to make a image wall for SIGGRAPH (2013) technical papers!</p>
        </div>
      </div>
      <div class="row">
        <div class="small-centered large-uncentered columns">
          <p class="text-center">
          <small>
            <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Siggraph Image Wall</span> by 
            <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName"><a href="http://drakeguan.org">Shuen-Huei Guan</a></span> 
            is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.<br>
            All teaser images and publication are copyright of the authors and <a href="http://www.siggraph.org/">ACM SIGGRAPH</a>.
          </small>
          <br>
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
          </p>
        </div>
      </div>
      </footer>

      <script src="static/foundation/js/foundation.min.js"></script>
      <!-- jQuery Lazy Load -->
      <script src="static/jquery.lazyload/jquery.lazyload.min.js" type="text/javascript"></script>
      <script>
        $(document).foundation();

        $(document).ready(function() {
          $("a.invokeModal").click(function(e) {
            e.preventDefault();
            var img = $(this).attr("href");
            var title = $(this).attr("data-title");
            var authors = $(this).attr("data-authors");
            $("#myImage").attr("src", img);
            $("#myTitle").text(title);
            $("#myAuthors").text(authors);
            $("#myModal").foundation("reveal", "open");
          });
        });

        $("img.lazy").lazyload();
      </script>
    </body>
  </html>
